.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.max-width {
    max-width: 800px;
}

.max-width-400 {
    max-width: 400px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}
